*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.heading-primary {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 7rem 0;
  letter-spacing: 10px;
}

.heading-secondary {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.heading-tertiary {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: #a7abae;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.6rem;
  margin: 5rem 0;
}

.btn {
  border: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: #23303e !important;
}
.btn__primary {
  border-radius: 100px;
  padding: 1.5rem 2.5rem;
  background-color: #fad400;
  transition: all 0.3s ease-in;
}
.btn__primary:hover {
  background-color: #6ecffc;
  color: white !important;
}
.btn__secondary {
  padding: 0 5px;
}
.btn--yellow {
  position: relative;
}
.btn--yellow:hover::after {
  background-color: #fad400;
}
.btn--yellow::after {
  content: "";
  display: block;
  width: 110%;
  height: 10px;
  background-color: rgba(250, 212, 0, 0.3);
  border-radius: 100px;
  position: absolute;
  left: -5%;
  top: 50%;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.btn--red {
  position: relative;
}
.btn--red:hover::after {
  background-color: #fe7867;
}
.btn--red::after {
  content: "";
  display: block;
  width: 110%;
  height: 10px;
  background-color: rgba(254, 120, 103, 0.3);
  border-radius: 100px;
  position: absolute;
  left: -5%;
  top: 50%;
  z-index: -1;
  transition: all 0.3s ease-in;
}

.nav-toggle {
  border: none;
  background-color: transparent;
}
.nav-toggle:hover {
  cursor: pointer;
}
@media screen and (min-width: 750px) {
  .nav-toggle {
    display: none;
  }
}

.illustration {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.illustration__hero img {
  width: 100%;
}
.illustration__content {
  width: 75%;
  justify-self: center;
  align-self: center;
}
.illustration__title {
  margin-bottom: 2rem;
  text-align: center;
  color: #23303e;
}
.illustration__text {
  text-align: center;
  color: #818498;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.illustration--blended {
  position: relative;
}
.illustration--blended .illustration__content {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 10%;
  text-align: center;
  color: white;
}
.illustration--blended .illustration__title {
  color: #25564b;
}
.illustration--blended .illustration__text {
  color: #25564b;
  margin-bottom: 0;
}
.illustration--blended:last-child {
  margin-top: -4px;
}
@media screen and (min-width: 750px) {
  .illustration--blended {
    margin-top: -4px;
  }
}
@media screen and (min-width: 750px) {
  .illustration {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/-1;
    text-align: left;
  }
  .illustration__title, .illustration__text {
    text-align: left;
  }
  .illustration--blended .illustration__title, .illustration--blended .illustration__text {
    text-align: center;
    width: 55%;
    margin: 0 auto;
  }
  .illustration--blended .illustration__title {
    margin-bottom: 2rem;
  }
  .illustration--mid .illustration__content {
    grid-row: 1/2;
  }
}

.testimonial {
  width: 88%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 7rem;
}
.testimonial__img-box {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  overflow: hidden;
}
.testimonial__img {
  width: 100%;
}
.testimonial__text {
  color: #818498;
  line-height: 1.5;
}
.testimonial__owner--name {
  font-family: "Fraunces", serif;
  margin-bottom: 1rem;
}
.testimonial__owner--title {
  color: #a7abae;
  font-size: 1.6rem;
}

.header {
  height: 54rem;
  background: url("../images/mobile/image-header.jpg") center left/cover no-repeat;
  position: relative;
}
.header__links {
  display: none;
  position: absolute;
  background-color: white;
  right: 5%;
  width: 90%;
  top: 20%;
  text-align: center;
  padding: 4rem;
}
.header__links.active {
  display: block;
}
.header__links::after {
  content: "";
  position: absolute;
  top: -30px;
  right: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid white;
}
.header__link:not(:last-child) {
  margin-bottom: 4rem;
}
.header__link:not(:last-child) a {
  color: #818498;
  transition: all 0.3s ease-in;
}
.header__link:not(:last-child) a:hover {
  color: #5a636c;
}
.header .arrow {
  text-align: center;
}
@media screen and (min-width: 750px) {
  .header {
    background: url("../images/desktop/image-header.jpg") center left/cover no-repeat;
  }
  .header__links, .header__links.active {
    width: auto;
    display: flex;
    align-items: flex-start;
    padding: 0;
    top: 20px;
    background-color: transparent;
  }
  .header__links::after {
    display: none;
  }
  .header__link {
    margin-bottom: 0;
  }
  .header__link:not(:last-child) {
    padding-top: 10px;
    margin-right: 2rem;
  }
  .header__link:not(:last-child) a {
    color: white;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 80rem;
  }
}

.footer__illustrations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (min-width: 750px) {
  .footer__illustrations {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
.footer__illustration img {
  width: 100%;
  height: 100%;
}
.footer__content {
  background-color: rgba(69, 140, 126, 0.5);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__content > * {
  display: inline-block;
}
.footer__logo-box {
  margin-bottom: 3rem;
}
.footer__logo path {
  fill: rgba(37, 86, 75, 0.8);
}
.footer__links {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 8rem;
}
.footer__link {
  color: #458c7e;
  transition: all 0.3s ease-in;
}
.footer__link:hover {
  color: white;
}
.footer .contacts {
  margin-bottom: 2rem;
}
.footer .contact:not(:last-child) {
  margin-right: 2rem;
}
.footer .contact__icon path {
  transition: all 0.3s ease-in;
}
.footer .contact__icon:hover path {
  fill: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .main .illustrations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .main .testimonials {
    display: flex;
    gap: 2rem;
    max-width: 110rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 750px) {
  .main .section-testimonials {
    padding: 7rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
