$fontPrimary: "Barlow", sans-serif;
$fontSecondary: "Fraunces", serif;

$primaryRed: hsl(7, 99%, 70%);
$primaryYellow: hsl(51, 100%, 49%);
$primaryCyan: hsl(167, 40%, 24%);
$primaryBlue: hsl(198, 62%, 26%);
$primaryWhite: hsl(0, 0%, 100%);
$secondaryCyan: hsl(168, 34%, 41%);
$secondaryBlue: hsl(212, 27%, 19%);
$primaryGrayishBlue: hsl(213, 9%, 39%);
$secondaryGrayishBlue: hsl(232, 10%, 55%);
$tertiaryGrayishBlue: hsl(210, 4%, 67%);
$tertiaryBlue: hsl(199, 96%, 71%);
