.header {
  height: 54rem;
  background: url("../images/mobile/image-header.jpg") center left / cover
    no-repeat;
  position: relative;

  &__links {
    display: none;
    position: absolute;
    background-color: $primaryWhite;
    // left: 5%;
    right: 5%;
    width: 90%;
    top: 20%;
    text-align: center;
    padding: 4rem;

    &.active {
      display: block;
    }
  }

  &__links::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid $primaryWhite;
  }

  &__link:not(:last-child) {
    margin-bottom: 4rem;

    a {
      color: $secondaryGrayishBlue;
      transition: all 0.3s ease-in;

      &:hover {
        color: $primaryGrayishBlue;
      }
    }
  }

  .arrow {
    text-align: center;
  }

  @media screen and (min-width: 750px) {
    background: url("../images/desktop/image-header.jpg") center left / cover
      no-repeat;

    &__links,
    &__links.active {
      width: auto;
      display: flex;
      align-items: flex-start;
      padding: 0;
      top: 20px;
      background-color: transparent;
    }

    &__links::after {
      display: none;
    }

    &__link {
      margin-bottom: 0;

      &:not(:last-child) {
        padding-top: 10px;
        margin-right: 2rem;

        a {
          color: $primaryWhite;
        }
      }
    }
  }

  @media screen and (min-width: 1200px) {
    height: 80rem;
  }
}
