.illustration {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  &__hero {
    img {
      width: 100%;
    }
  }

  &__content {
    width: 75%;
    justify-self: center;
    align-self: center;
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    color: $secondaryBlue;
  }

  &__text {
    text-align: center;
    color: $secondaryGrayishBlue;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  &--blended {
    position: relative;

    .illustration {
      &__content {
        position: absolute;
        width: 90%;
        left: 5%;
        bottom: 10%;
        text-align: center;
        color: $primaryWhite;
      }

      &__title {
        color: $primaryCyan;
      }

      &__text {
        color: $primaryCyan;
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-top: -4px;
    }

    @media screen and (min-width: 750px) {
      margin-top: -4px;
    }
  }

  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / -1;
    text-align: left;

    &__title,
    &__text {
      text-align: left;
    }

    &__content:not(&--blended .illustration__content) {
      max-width: 40rem;
    }

    &--blended {
      .illustration {
        &__title,
        &__text {
          text-align: center;
          width: 55%;
          margin: 0 auto;
        }

        &__title {
          margin-bottom: 2rem;
        }
      }
    }

    &:first-child {
      .illustration__content {
        grid-row: 1 / 2;
      }
    }
  }
}
